<%= form_for @employee, html: {class: "form-horizontal"} do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, class:"control-label" %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :lastname, class:"control-label"  %><br>
    <%= f.text_field :lastname, class:"form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :DOB, class:"control-label" %><br>
    <%= f.date_select :DOB, class:"form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :experience, class:"control-label" %><br>
    <%= f.number_field :experience, class:"form-control" %>
  </div>
  <div class="actions">
    <div class="control">
      <%= f.submit%>
    </div>
  </div>
<% end %>
